.DS_Store
*/.DS_Store
//.DS_Store

.ipynb_checkpoints/

__pycache__/
*.pyc
city_inverted_index.json
city_vocabulary.csv
cuisineType_inverted_index.json
cuisineType_vocabulary.csv
restaurantName_inverted_index.json
restaurantName_vocabulary.csv
